{{- define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>

<style>
    img {width: 30vw; border-radius: 5%;}
</style>

<table>
    <tr>
        <td><img src="/animals/Lola.jpg" title="Lola"/></td>
        <td><img src="/animals/Sesame.jpg" tile="Sesame"/></td>
        <td><img src="/animals/Kiki.jpg" title="Kiki"/></td>
    </tr>
    <tr>
        <td><img src="/animals/Kyle.jpg" title="Kyle"/></td>
        <td><img src="/animals/Nova.jpg" title="Nova"/></td>
    </tr>
</table>

{{- end }}{{/* end main */}}
